
#logga {
    width: 60px;
}

#CardWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
}

section {
    border: 5px solid white;
    height: 250px;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
}


#wrapper {
    background-color:#2ecc71;
    display: grid;
    grid-template-rows: 100px 685px auto;
    grid-template-columns: 130px 3fr;
    border: solid 5px black;
    width:100vw;
    min-height:110vh;
    margin:auto;
    grid-template-areas: 
    'hd hd'
    'as mn'
    'ft ft';
}

header {
    display: flex;
    padding: 10px;
    grid-area: hd;
    border: solid 5px white;
    justify-content: flex-start;
    
}

#namn {
    font-size: 30px;
    padding-left:5px;
    padding-right: 15px;
    display: block;
}

#basics {
    font-size: 25px;
}

#inter {
    font-size: 25px;
}

#advanced {
    font-size: 25px;
}

h2 {
    margin: auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:#cc2e3a
}

h2:hover {
    color: #cc2e3a 
}

#linje {
    display:block;
    height: 70px;
    border-right: solid 5px white;
}

aside {
    grid-area: as;
    border: solid 5px white;
}

ul {
    padding: 10px;
}

main {
    grid-area: mn;
    border: solid 5px white;
}

footer {
    grid-area: ft;
    border: solid 5px white;
}

aside div input{
    padding: 1px;
    width: 100px;
}

aside div{
    padding: 5px;
    margin: auto;
}